*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  align-self: center;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.result {
  padding-right: 30px;
}

.result__video-container {
  padding-bottom: 16px;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*.result_video {
  object-fit: cover;
  width: 711px;
  height: 386px;
}*/

.search-form {
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
}

.search-form__checkbox-list {
  display: flex;
}

/*здесь псевдочексбокс*/

.content__details {
  width: 399px;
  height: 100%;
}

.title {
  padding-bottom: 28px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  position: relative;
  overflow: scroll;
}

.content__card-link {
  text-decoration: none;
  color:#fff;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card-title {
  padding-bottom: 6px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}